@model List<Todo>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom!</h1>
    @if (!Model.Any())
    {
        <h2>Voor vandaag hoef je niks te doen.</h2>
    }
    else
    {
        <h2>De volgende taken moeten nog gedaan worden:</h2>
        <ul>
            @foreach (var todo in Model)
            {
                if (todo.Completed)
                {
                    <li><strike>@todo.Title</strike></li>
                }
                else
                {
                    <li>@todo.Title</li>
                }
            }
        </ul>
    }

</div>
